*:focus {
  outline: 0 none !important;
}

body {
  background: #EAEAEA;
  padding-top: 60px;
}

body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @font-family;
  font-weight: 300;
}

.z0 { box-shadow: @zDepth0; }
.z1 { box-shadow: @zDepth1; }
.z2 { box-shadow: @zDepth2; }
.z3 { box-shadow: @zDepth3; }

label {
  font-weight: normal;
}

.form-control {
  padding-left: 0;
  padding-right: 0;

  border: none;
  border-bottom: 1px solid silver;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-nav {
  margin: 0!important;

  &.navbar-left {
    float: left!important;
  }

  &.navbar-right {
    float: right!important;
  }
}

.navbar-back {
  >a {

    @media @xs-and-down {
      padding: 15px 0 !important;
    }

    @media @sm-and-up {
      padding: 15px 15px 15px 0 !important;
    }
  }
}