
.groups {
  padding-bottom: 80px;

  p {
    color: @text-icons-color;
    font-size: 18px;
  }
}

.group-view {

  .tab-content{
    margin-bottom: 80px;
  }

  .group-meetings {
    .actives {
      .list-group-item:first-child {
        margin: 10px 0;
      }
    }
  }

  .group-members {
    .actives {
      margin-top: 10px;
    }
  }
}

.group-detail {

  .media {
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
  }

  .title {
    background: @background-color-light;
    color: @text-icons-color;

    h1 {

    }
  }

  .description {
    background: @background-color-dark;
    color: @text-icons-color;
    white-space: pre-line;
    word-break: break-word;
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .btn.btn-danger {
    margin-top: 20px;
  }
}

.group-meetings {
  .list-group-item-heading {
    .label-danger  {
      margin-left: 20px;
      vertical-align: top;
    }
  }
}

.invite-users {

  .list-group {

    .list-group-item {
      padding: 5px;

      .avatar {
        display: inline;
        max-width: 40px;

        &.iconic {
          display: table-cell;
          .fa {
            text-indent: -8px;
          }
        }
      }

      span {
        padding-left: 20px;
        font-weight: 400;
        font-size: 18px;
        vertical-align: middle;
        display: inline;
      }

      &.email-invite {
        span {
          display: table-cell;
        }
      }

    }

  }

}
