.navbar-profile {
  a {
    padding: 10px!important;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.list-group-item {

  .avatar {
    width: 40px;
    height: 40px;
  }

}

.avatar.iconic {
  background: white;
  color: gray;
  overflow: hidden;

  .fa {
    font-size: 34px;
    text-indent: -18px;
    line-height: 37px;
  }

}
