
.btn {
  border-radius: 0;
  font-size: 20px;
  .z1;
}

.input-group-btn {
  .btn {
    font-size: 14px;
    .z0;
  }
}

.btn-default {

}

.btn-primary {

}

.btn-secondary {

}

.btn-link {
  color: @link-color;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 300;

  .z0;

  margin: 0 10px;

  &:hover, &:active, &:focus {
    text-decoration: none;

    color: @text-icons-color!important;
    background: @link-color!important;
  }

  &.btn-primary {
    color: @accent-color;

    &:hover, &:active, &:focus {
      color: @text-icons-color!important;
      background: @accent-color!important;
    }
  }

  &.btn-secondary {
    color: @primary-color;

    &:hover, &:active, &:focus {
      color: @text-icons-color!important;
      background: @primary-color!important;
    }
  }

  &.btn-success {
    color: @btn-success-bg;

    &:hover, &:active, &:focus {
      color: @text-icons-color!important;
      background: @btn-success-bg!important;
    }

    &.voted, &.disabled {
      color: @text-icons-color!important;
      background: @btn-success-bg!important;
    }

    &.disabled {
      cursor: default;
    }
  }

  &.btn-danger {
    color: @btn-danger-bg;

    &:hover, &:active, &:focus {
      color: @text-icons-color!important;
      background: @btn-danger-bg!important;
    }
  }

  &.btn-warning {
    color: @btn-warning-bg;

    &:hover, &:active, &:focus {
      color: @text-icons-color!important;
      background: @btn-warning-bg!important;
    }
  }

  &.btn-info {
    color: @btn-info-bg;

    &:hover, &:active, &:focus {
      color: @text-icons-color!important;
      background: @btn-info-bg!important;
    }
  }

}

.btn-icon {
  border: none;

  button {
    border: none;
    font-size: 20px;
    color: gray;
  }
}

.btn-social {
  color: #fff;
  font-size: 34px;
  border: none;
  border-radius: 0;
  margin: 0 10px;

  .z1;

  &:hover {
    color: #fff;
    .z2;
  }

  &.twitter {
    background-color: @twitter;
  }
  &.facebook {
    background-color: @facebook;
  }
  &.google {
    background-color: @google;
  }
}

.btn-create, .btn-continue {
  background-color: @primary-dark-color;
  color: @text-icons-color!important;
  border: none;

  &:hover, &:active, &:focus {
    color: @text-icons-color!important;
    background: @primary-color!important;
  }
}

.btn-continue {
  border-radius: 50%;
  padding: 6px;
  font-size: 40px;
  margin-top: 30px;

  @media (max-width: 500px) {
    margin: 10px;
  }

}
