.btn-link {
  color: @link-color;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;

  border-bottom: 1px solid @link-color;
  padding: 0;
  margin: 0 10px;

  &:hover, &:active, &:focus {
    color: @link-color-hover;
    text-decoration: none;
    border-bottom: 1px solid @link-color-hover;
  }
}

.btn-social {
  color: #fff;
  font-size: 24px;

  &.twitter {
    background-color: @twitter;
  }
  &.facebook {
    background-color: @facebook;
  }
  &.google {
    background-color: @google;
  }
}